server:
  port: 9000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true

flyway:
  enabled: true
  locations: classpath:db/migration
  baseline-on-migrate: true

logging:
  level:
    root: INFO